{% extends "base.html" %}

{% block extra_css %}
    <link rel="stylesheet" href="/static/contactus.css">
{% endblock %}

{% block content %}
    <div id="back">
        <div id="back-text">"Thank you for your listening of toolkit.<br> If you have any questions, please find the contact information of our developers below."</div>
    </div>

    <div class="container">
        <!-- Cards -->
        <div class="card-section">
           <div class="card" id="ste">
                <img src="/static/images/ste.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Stephen</h5>
                    <p class="card-text">As one of the main developers of the website, I am proficient in Html, Javascript, Css, Flask, AJAX, jQuery, and other technologies. If you have any questions, please feel free to click the button below to communicate with me. I look forward to your message.</p>
                    <a href="mailto:22897054@student.uwa.edu.au" class="btn btn-primary">Contact Stephen</a>
                </div>
            </div>
            <div class="card" id="nico">
                <img src="/static/images/nico.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Nico</h5>
                    <p class="card-text">As one of the main developers of the website, I am proficient in Html, Javascript, Css, Flask, AJAX, jQuery, and other technologies. If you have any questions, please feel free to click the button below to communicate with me. I look forward to your message.</p>
                    <a href="mailto:22859029@student.uwa.edu.au" class="btn btn-primary">Contact Nico</a>
                </div>
            </div>

            <div class="card" id="MI">
                <img src="/static/images/shixuanhui.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Michael</h5>
                    <p class="card-text">As one of the main developers of the website, I am proficient in Html, Javascript, Css, Flask, AJAX, jQuery, and other technologies. If you have any questions, please feel free to click the button below to communicate with me. I look forward to your message.</p>
                    <a href="mailto:22865142@student.uwa.edu.au" class="btn btn-primary">Contact Michael</a>
                </div>
            </div>
             <div class="card" id="chris">
                <img src="/static/images/chris.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Chris</h5>
                    <p class="card-text">As one of the main developers of the website, I am proficient in Html, Javascript, Css, Flask, AJAX, jQuery, and other technologies. If you have any questions, please feel free to click the button below to communicate with me. I look forward to your message.</p>
                    <a href="mailto:22770934@student.uwa.edu.au" class="btn btn-primary">Contact Chris</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
