<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GPT-3.5 </title>
 <link rel="stylesheet" href="/static/guide.css">
</head>
<body>
    <div class="gpt-3_5-info">
        <h1>ChatRobot Quick Start Guide</h1>
        <p>This document provides a detailed guide on how to use our website</p>


        <h2>1. Login</h2>
        <img src="/static/images/login.png" width="100%" height="100%">
        <p>After entering the homepage of the website,
            you need to log in to use the site. You will see a login page. B
            efore logging in, you must ensure that you have registered on our website (whi
            ch is mandatory). Our website does not allow unregistered users to use it.</p>

         <h2>2. Register</h2>
        <img src="/static/images/signup.png" width="100%" height="100%">
        <p>To use our ChatRobot, you need to register on our re
            gistration page first. You will be required to provide the
            following information to complete your registration: First Name, L
            ast Name, Phone, Email, Password. All of these fields are required, so
            please fill out all of them to ensure successful registration.</p>
            <ol>
    <li>Make sure to fill out all the information."</li>
    <li>To ensure security, do not disclose your password to anyone.</li>
    <li>Please remember your password.</li>

</ol>


       <h2>3.Use  ChatRobot</h2>
        <img src="/static/images/chat.png" width="100%" height="100%">
<p>After the user successfully logs in, they will be directed to our chat page, where they can interact with ChatRobot.</p>
<ul>
   <li>Ensure that your questions or requests are clearly stated to help the chatbot better understand your needs.</li>
    <li>Despite the high intelligence of the ChatRobot, it may still produce erroneous or inaccurate answers. Verify the accuracy of information for critical tasks.</li>
    <li>Comply with relevant laws, regulations, and ethical norms when interacting with the chatbot. Do not post inappropriate or sensitive information.</li>
    <li>In some cases, the chatbot may not understand or answer your questions. In such cases, you can try rephrasing your question in a different way.</li>
</ul>
        <h2>4. Search History</h2>
        <img src="/static/images/search.png" width="100%" height="100%">
        <p>On our search page, you can search for your interaction history with our chatbot.
            You can search your chat history with
            the chatbot by clicking on the search b
            utton. We provide a time control feature
            , allowing you to select a more precise t
            ime range for your chats. For instance, if y
            ou only want to see the chat records from May 8th
            , you can narrow down the search range for greater a
            ccuracy. We also offer a download button, enabling you to
            download your chat records with the chatbot. We believe tha
            t you can directly save some useful outputs.</p>
         <h2>5. Log Out</h2>
        <img src="/static/images/logout.png" width="100%" height="100%">
<p>When you do not want to use or temporarily suspend the use of the website, please cli
    ck on the "Log Out" button to log out of your account. This can ensure the security of your
    account and the privacy of your chat history.</p>

    </div>
</body>
</html>
